.gallery {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.gallery-item {
  width: calc((100% - 48px) / 3);
  height: 200px;
  overflow: hidden;
}
.gallery-image {
  width: 100%;
  display: block;
  object-fit: cover;
}
